/* * {
    background-image: radial-gradient(circle,  blue 0%, #060B26 100%);
    color: #FFFFFF;
    font-family: verdana;
    margin: 0;
    padding: 0;
} */
.h1 {
    color: white;
    background: transparent;
    padding-left: 24%;
    font-size: 1.3rem;
    font-weight: 300;
}
.body {
    width: 40%;
    margin: auto;
    background: transparent;
    padding-top: 3%;
}
.all {
    background: transparent;
}
.header {
    background: transparent;
    width: 90%;
    display: flex;
}
.hicon {
    width: 20%;
    height: 12.4vh;
    background-image: url('./carsles.png');
    margin-top: -7%;
    margin-left: -7%;
}
.fav {
    width: 86%;
    height: 19.5vh;
    background: #FFFFFF;
    border-radius: 1.7rem;
    margin-top: 4%;
}
.favh {
    background: transparent;
    color: black;
    font-size: 1.2rem;
    font-weight: 100;
    padding-top: 3%;
    padding-left: 4.5%;
}
.inp {
    width: 82%;
    height: 5vh;
    border: 1px solid blue;
    border-radius: 0.7rem;
    font-size: 1rem;
    padding-left: 3%;
    background: transparent;
    margin-top: 3%;
}
.every {
    width: 86%;
    height: 60vh;
    background: #FFFFFF;
    border-radius: 1.7rem;
    margin-top: 4%;
    margin-bottom: 7%;
}
.cover {
    width: 80%;
    display: flex;
    background: transparent;
    padding-top: 5%;
    padding-left: 6%;
}
.cir {
    width: 15%;
    height: 8vh;
    border-radius: 50%;
    background-image: url('./pic1.jpg');
    background-size: cover;
}
.cir1 {
    width: 15%;
    height: 8vh;
    border-radius: 50%;
    background-image: url('./pic2.jpg');
    background-size: cover;
}
.cir2 {
    width: 15%;
    height: 8vh;
    border-radius: 50%;
    background-image: url('./pic3.jpg');
    background-size: cover;
}
.cir3 {
    width: 15%;
    height: 8vh;
    border-radius: 50%;
    background-image: url('./pic4.jpg');
    background-size: cover;
}
.cir4 {
    width: 15%;
    height: 8vh;
    border-radius: 50%;
    background-image: url('./pic5.jpg');
    background-size: cover;
}
.covh {
    font-size: 1.2rem;
    font-weight: 200;
    background: transparent;
    color: black;
    margin-left: 2.5%;
}
.covs {
    font-size: 0.9rem;
    font-weight: 100;
    opacity: 0.5;
    background: transparent;
    color: black;
}
.favf {
    width: 85%;
    display: flex;
    padding-top: 3%;
    padding-left: 4.5%;
    background: transparent;
}
.cirs {
    width: 15%;
    height: 8vh;
    border-radius: 50%;
    background-image: url('./pic4.jpg');
    background-size: cover;
    margin-right: 2.5%;
}
.cirs1 {
    width: 15%;
    height: 8vh;
    border-radius: 50%;
    background-image: url('./pic2.jpg');
    background-size: cover;
    margin-right: 2.5%;
}
.cirs2 {
    width: 15%;
    height: 8vh;
    border-radius: 50%;
    background-image: url('./pic3.jpg');
    background-size: cover;
    margin-right: 2.5%;
}
.cirs3 {
    width: 15%;
    height: 8vh;
    border-radius: 50%;
    background-image: url('./pic1.jpg');
    background-size: cover;
    margin-right: 2.5%;
}
.cirs4 {
    width: 15%;
    height: 8vh;
    border-radius: 50%;
    background-image: url('./pic5.jpg');
    background-size: cover;
    margin-right: 2.5%;
}

@media only screen and (max-width: 767px) {
    .body {
        width: 96%;
        margin: auto;
        margin-left: 6%;
    }
    .fav {
        width: 92%;
        height: 16vh;
        background: #FFFFFF;
        border-radius: 1.7rem;
        margin-top: 6%;
    }
    .inp {
        width: 88%;
        height: 5vh;
        border: 1px solid blue;
        border-radius: 0.7rem;
        font-size: 1rem;
        padding-left: 3%;
        background: transparent;
        margin-top: 3%;
    }
    .favf {
        width: 97%;
        display: flex;
        padding-top: 3%;
        padding-left: 4.5%;
        background: transparent;
    }
    .cirs {
        width: 17%;
        height: 7vh;
        border-radius: 50%;
        margin-right: 2.5%;
    }
    .cirs1 {
        width: 17%;
        height: 7vh;
        border-radius: 50%;
        margin-right: 2.5%;
    }
    .cirs2 {
        width: 17%;
        height: 7vh;
        border-radius: 50%;
        margin-right: 2.5%;
    }
    .cirs3 {
        width: 17%;
        height: 7vh;
        border-radius: 50%;
        margin-right: 2.5%;
    }
    .cirs4 {
        width: 17%;
        height: 7vh;
        border-radius: 50%;
        margin-right: 2.5%;
    }
    .every {
        width: 92%;
        height: 49vh;
        background: #FFFFFF;
        border-radius: 1.7rem;
        margin-top: 4%;
        padding-top: 2%;
    }
    .cover {
        width: 90%;
        display: flex;
        background: transparent;
        padding-top: 5%;
        padding-left: 6%;
    }
    .cir {
        width: 19%;
        height: 7vh;
        border-radius: 50%;
    }
    .cir1 {
        width: 19%;
        height: 7vh;
        border-radius: 50%;
    }
    .cir2 {
        width: 19%;
        height: 7vh;
        border-radius: 50%;
    }
    .cir3 {
        width: 19%;
        height: 7vh;
        border-radius: 50%;
    }
    .cir4 {
        width: 19%;
        height: 7vh;
        border-radius: 50%;
    }
    .covh {
        font-size: 1.2rem;
        font-weight: 200;
        background: transparent;
        color: black;
        margin-left: 3%;
    }
    .covs {
        font-size: 0.9rem;
        font-weight: 100;
        opacity: 0.5;
        background: transparent;
        color: black;
    }
    .h1 {
        color: white;
        background: transparent;
        padding-left: 14%;
        font-size: 1.2rem;
        font-weight: 300;
        padding-top: 4%;
    }
    .hicon {
        width: 40%;
        height: 12.4vh;
        background-image: url('./carsles.png');
        margin-top: -7%;
        margin-left: -7%;
    }
    .header {
        background: transparent;
        width: 90%;
        display: flex;
        margin-top: 4%;
    }
}